In [1]:
import pandas as pd
import json

covid_data = pd.read_csv('download.csv')

In [ ]:
covid_data

In [21]:
countries = pd.read_csv('countries.csv')

country_cords = {}
for i, row in countries.iterrows():
    key = row['country']
    
    lat = row['latitude']
    lon = row['longitude']
    value = [lat, lon]
    
    country_cords[key] = value
    
with open('country_dict.json', 'w') as fp:
    json.dump(country_cords, fp)

In [2]:
with open('country_dict.json', 'r') as fp:
    country_cords = json.load(fp)

In [32]:
def get_cords(country_code, country_code_2):
    coordinates = None
    
    try:
        coordinates = country_cords[country_code]
    except KeyError:
        try:
            coordinates = country_cords[country_code_2]
        except KeyError:
            print(country_code, country_code_2)
        
    return coordinates

cur_country = None
cords = None
cur_code = None
cur_cases = 0
cur_deaths = 0

countries = []
code = []
cases = []
deaths = []
lat =  []
long = []

for index, row in covid_data.iterrows():
    if cur_country != row['countriesAndTerritories']:       
        if cords:
            countries.append(cur_country)
            code.append(cur_code)
            cases.append(cur_cases)
            deaths.append(cur_deaths)
            lat.append(cords[0])
            long.append(cords[1])
         
        cur_country = row['countriesAndTerritories']
        cur_code = row['countryterritoryCode']
        if not cur_code:
            cur_code = row['geoId']
        cur_cases = 0
        cur_deaths = 0        
        cords = get_cords(row['geoId'], row['countryterritoryCode'])     
        if not cords:
            #print(cur_country)
            continue
    
    cur_cases += row['cases']
    cur_deaths += row['deaths']

if cords:
    countries.append(cur_country)
    code.append(cur_code)
    cases.append(cur_cases)
    deaths.append(cur_deaths)
    lat.append(cords[0])
    long.append(cords[1])
    
print("Done")

6 3
17 3
26 4
37 7
52 8
88 8
94 9
101 11
112 14
117 15
125 17
128 19
137 25
151 27
166 31
174 35
183 39
197 40
204 43
232 44
263 46
305 46
332 47
342 47
381 55
399 58
422 59
472 60
509 63
563 69
613 71
679 73
718 73
806 74
870 75
931 76
991 78
1031 79
1087 82
1134 86
1202 87
1250 88
1346 88
1423 88
1500 88
1556 89
1627 91
1718 92
1795 93
1831 93
1907 94
1978 94
2007 94
2087 94
2109 94
2132 94
2144 94
2157 94
2165 94
2176 94
2182 94
2188 94
2197 94
2200 94
2201 94
2202 94
2203 94
2204 94
2205 94
2206 94
2208 94
2208 94
2210 94
2211 94
2212 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
2213 94
CW CUW
Curaçao
SX SXM
Sint_Maarten
SS SSD
South_Sudan
Done

In [33]:
filtered_data = pd.DataFrame({
    'country': countries,
    'code': code,
    'n': cases,
    'n1': deaths,
    'Latitude': lat,
    'Longitude': long
})
filtered_data

            country code     n   n1   Latitude   Longitude
0       Afghanistan  AFG  5226  130  33.939110   67.709953
1           Albania  ALB   880   31  41.153332   20.168331
2           Algeria  DZA  6253  522  28.033886    1.659626
3           Andorra  AND   760   49  42.546245    1.601554
4            Angola  AGO    45    2 -11.202692   17.873887
..              ...  ...   ...  ...        ...         ...
201         Vietnam  VNM   288    0  14.058324  108.277199
202  Western_Sahara  NaN     6    0  24.215527  -12.885834
203           Yemen  YEM    70   12  15.552727   48.516388
204          Zambia  ZMB   446    7 -13.133897   27.849332
205        Zimbabwe  ZWE    37    4 -19.015438   29.154857

[206 rows x 6 columns]

In [34]:
filtered_data.to_csv('COVID-19_Data.csv', index=False)